body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  /* font-weight: 500; */
  font-style: normal;
  margin: auto;
  margin-top: 40px;
  width: 500px;
}

h1 {
  font-weight: 900;
  font-style: normal;
  color: #85bb65;
}

li {
  list-style-type: none;
}

a {
  color: #85bb65;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.interact {
  text-align: center;
}
.footer {
  color: gray;
  font-size: 0.9rem;
  margin-top: 4rem;
  text-align: center;
}
